<h3>Posts</h3>

{{input type='search' value=searchString placeholder='Search posts'}}

<ul>
  {{#each filteredContent}}
    <li>
      <h4>{{title}}</h4>
      <p>{{description}}</p>
    </li>
  {{/each}}
</ul>
